* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(130deg, #47e0b5, #4cc6ad, #51748f, #424166);
  background-repeat: no-repeat;
  height: 100vh;
  margin: auto;
}

.weather {
  background: rgb(255, 255, 255, 0.3) !important;
  border: none !important;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather * {
  background: none !important;
  border: none !important;
}

.weather .card-header,
.weather .card-footer {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
}

.weather .card-body {
  text-align: center;
  justify-content: center;
}

.weather .temp {
  font-size: 3em;
}

/*Boostrap class */
.form-control {
  --bs-border-radius: 2rem !important;
  opacity: 0.8;
}

.btn {
  --bs-border-radius: 2rem !important;
  opacity: 0.8;
}

/*Boostrap class  End*/

@media screen and (max-width: 768px) {
  .weather .card-header,
  .weather .card-footer {
    justify-content: center;
  }
}
